<!DOCTYPE html>
<html>
    <head>
        <title>Home</title>
        <link rel = "stylesheet"  href="/css/homepage.css">
    </head>
    <body>
        
<header> 
    <a href="#" class="logo">FocusFlow</a>
    <nav>
        <a href="signup">Sign Up</a>
        <a href="login">Login</a>
    </nav>
</header>




<section id="home"><div class="focus-flow">FocusFlow</div>

    </body>
</html>