<!DOCTYPE html>
<html>
    <head>
        <title>Home</title>
        <link rel = "stylesheet"  href="/css/homepage.css">
    </head>
    <body>
            <header >
                <a href="#" class="logo">FocusFlow</a>


                <nav>
                    <a href="#home" class="active">Home</a>
                    <a href="#calender">Calender</a>
                    <a href="#goals">Goals</a>
                    <a href="#subcriptions">Subscriptions</a>
                    <a href="#paymentinfo">Payment Info</a>
                    <a href="#utilities">Utilities</a>
                </nav>
            </header>


<section id="home"><div class="focus-flow">FocusFlow</div><div class="button-container"><a class="log" href="login">Login</a><a class="crea" href ="signup">Sign Up</a></div></section>
<section id="calender"><a href="calender">Calender</a></section>
<section id="goals"> <a href="goals">Goals</a></section>
<section id="subcriptions"><a href="subcriptions">Subscriptions</a></section>
<section id="paymentinfo"><a href="paymentinfo">Payment Info</a></section>
<section id="utilities"><a href="utilities">Utilities</a></section>

<script type="text/javascript" src = "scripts.js"></script>


    </body>

</html>