<!DOCTYPE html>
<html>
    <head>
        <title>Home</title>
        <link rel = "stylesheet"  href="/css/homepage.css">
    </head>
    <body>
  
<header> 
    <a href="#" class="logo">FocusFlow</a>
    <nav>
       <h1>Hello{Username}</h1>
    </nav>
</header>


    </body>
</html>