<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/notes.css">
    <script src="/notes.js" defer></script>
</head>

<body>
    <form action="/submitNote" method="post">
    <div id="app">
        <button class="add-note" type="button">+</button>
      </div>
      </form>
</body>
</html>