<!DOCTYPE html>
<html>
    <head>
        <title>Home</title>
        <link rel = "stylesheet"  href="/css/pages.css">
    </head>
    <body>
            <header>
                <a href="#" class="logo">Account Created</a>


             

<script src = "script.ejs"></script>


    </body>

</html>