<!DOCTYPE html>
<html>
    <head>
        <title>Home</title>
        <meta charset="UTF-8" />
        <link rel="stylesheet" href="css/userpage.css" />
        <link href="https://cdn.jsdelivr.net/npm/@mdi/font@6.5.95/css/materialdesignicons.min.css" rel="stylesheet" />
        
    </head>

    <body>
        <div id="root">
            <nav id="main-nav" class="sidebar">
                <a href="/calendar" onclick="route()">Calendar</a>
                <a href="/notes" onclick="route()">Notes</a>
                <a href="/subscriptions" onclick="route()">Subscriptions</a>
            </nav>
            <div id="main-page"></div>
        </div>

        <script type="text/javascript" src="router.js"></script>
    </body>
</html>