<!DOCTYPE html>
<html>
    <head>
        <title>Home</title>
        <link rel = "stylesheet"  href="/css/pages.css">
        <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    </head>
    <body>

            <h1>Hi <%= email%> </h1>
    </body>

</html>